/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* yellowtail-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yellowtail-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    gap: 27px;
}
.background_pict {
    height: 450px;
    width: 1920px;
    background: url(img/background_image.svg);
    text-align: center;
    padding: 184px;
    background-repeat: no-repeat;
}
.h1_text {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 70px;
    color: #274C5B;
}
.wrapper {
    max-width: 1401px;
    margin-left: 534.5px;
    margin-top: 150px;
}
.team {
    font-family: 'Yellowtail';
    font-weight: 400;
    color: #7EB693;
    font-size: 36px;
    text-align: center;
}
.experts {
    font-family: 'Roobto';
    font-weight: 800;
    font-size: 50px;
    color: #274C5B;
    text-align: center;
}
.your_text {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}
.our_team_1 {
    display: grid;
    width: 1401px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 260px;
    margin-top: 42px;
}
.our_team_1__giovani {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.giovani__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.giovani__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.giovani__social {
    display: flex;
    gap: 18.6px;
    padding-left: 350px;
    margin-top: -28.37px;
}
.our_team_1__marianne {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.marianne__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.marianne__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.marianne__social {
    display: flex;
    gap: 18.6px;
    padding-left: 310px;
    margin-top: -28.37px;
}
.our_team_1__riga {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.riga__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.riga__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.riga__social {
    display: flex;
    gap: 18.6px;
    padding-left: 310px;
    margin-top: -28.37px;
}
.our_team_2 {
    display: grid;
    width: 1401px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 260px;
    margin-top: 42px;
}
.our_team_2__keira {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.keira__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.keira__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.keira__social {
    display: flex;
    gap: 18.6px;
    padding-left: 350px;
    margin-top: -28.37px;
}
.our_team_2__scott {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.scott__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.scott__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.scott__social {
    display: flex;
    gap: 18.6px;
    padding-left: 310px;
    margin-top: -28.37px;
}
.our_team_2__karen {
    width: 449px;
    height: 615px;
    border-radius: 25px;
    background-color: #F9F8F8;
}
.karen__name {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    color: #274C5B;
    margin-top: 34.5px;
    margin-left: 28.37px;
}
.karen__job {
    font-family: 'Yellowtail';
    margin-left: 28.37px;
    font-weight: 400;
    font-size: 22px;
    color: #7EB693;
}
.karen__social {
    display: flex;
    gap: 18.6px;
    padding-left: 310px;
    margin-top: -28.37px;
}